.footer {
  width: 100%;
  padding-bottom: 2rem;
  @include flex-layout;
  flex-direction: column;

  &-nav-links {
    margin: 1.5rem 0 1rem;
    @include flex-layout;
    list-style-type: none;
  }

  &-nav-link {
    margin: 1rem 2rem;
    font-size: 1.8rem;
  }

  .social-icons {
    list-style-type: none;
    @include flex-layout;
  }

  .social-icon {
    font-size: 3rem;
    margin: 1rem 2rem;
  }

  hr {
    width: 100%;
    max-width: 1240px;
    color: white;
    margin: 1rem;
  }
  .copyright-text {
    font-size: 1.5rem;
  }
}
