/* Custom Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: black;
  --color-secondary: white;
  --color-tertiary: rgb(231, 69, 20);
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  color: white;
  font-size: 62.5%;
  font-family: "Poppins";
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
#root {
  background-color: antiquewhite;
  background-color: black;
  color: white;
}

body {
  position: relative;
}
/* #product-modal-root {
  background-color: aqua;
  position: absolute;
  top: 0%;
  width: 100%;
  left: 0%;
} */
